#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 100px;
}

@media (max-width: 768px) {
  .title {
    font-size: 50px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }
}
